<aside class="sidebar">
    <div class="platypus-mascot">
        <!-- SVG or image for mascot -->
        <svg viewBox="0 0 64 64" fill="none" width="70" height="70">
            <!-- ...SVG content as in your screenshot... -->
        </svg>
        <span>PlatypusBot</span>
    </div>
    <div class="color-picker">
        <label for="userColor">User:</label>
        <input type="color" id="userColor" value="#10a37f" onchange="setUserColor(this.value)">
        <label for="botColor">Bot:</label>
        <input type="color" id="botColor" value="#ececf1" onchange="setBotColor(this.value)">
    </div>
    <form class="upload-form" method="post" enctype="multipart/form-data" action="/upload">
        <input type="file" name="file">
        <button type="submit">Upload</button>
    </form>
    <button class="new-chat">+ New chat</button>
    <nav>
        <ul>
            <li class="convo selected">Content strategy intern tasks.</li>
            <li class="convo">Chatbot that uses NLP</li>
            <li class="convo">Biases in Machine Learning.</li>
        </ul>
    </nav>
    <div class="bottom">
        <div><a href="#">Clear conversations</a></div>
        <div><a href="#">Dark mode</a></div>
        <div><a href="https://nltk.org/" target="_blank">NLTK</a></div>
        <div><a href="https://github.com/" target="_blank">GitHub</a></div>
        <div>Log out</div>
    </div>
</aside>
